{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="header">
        <div class="logo">Paintball Haleny
            <em>Predator shooting range</em>
        </div>
        <div class="menu">
            <a href="{{ path('gallery') }}">Gallery</a>
            <a href="facebook">Facebook</a>
        </div>
    </div>
    {% include 'components/navigation.html.twig' with {'menu': sections } %}
    {% for section in sections %}
        <div class="section animated {{ section.id }}" id="{{ section.id }}">
            <div class="content">
                <p class="text-center">
                    <i class="material-icons close-selection" data-onclick="closeSelection">close</i></p>
                {% include ['sections/'~ section.tpl ~ '.html.twig', 'components/empty.html.twig'] with {'section': section } %}
            </div>
        </div>
    {% endfor %}
<div class="blur"></div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/homepage.js') }}"></script>
    <script src="{{ asset('build/test.js') }}"></script>
{% endblock %}
