<div class="navigation">
        <ul>
                {% for item in menu %}
                    <li>
                        {% if  item.href is defined and item.href is not null %}
                            <a href="{{ path(item.href) }}" title="{{ item.href }}">
                                {{ item.title }}
                                <em>{{ item.legend }}</em>
                            </a>
                        {% else %}
                            <a href="#{{ item.id }}" data-onClick="toggleSelection">
                                {{ item.title }}
                                <em>{{ item.legend }}</em></a>
                        {% endif %}
                    </li>
                {% endfor %}
        </ul>
</div>
